<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>ユーザ</th>
  </tr>
  <% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= blog.user.name %></td>
    <td><%= link_to '詳細を確認する', blog_path(id: blog.id)%></td>
  </tr>
  <% end %>

</table>
<%= link_to 'ブログ作成する', new_blog_path%>